name: Projects Updater
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          base: "" 
          config_order: repositories
          plugin_repositories: yes
          plugin_repositories_featured: MO-NASSER9/Autonomous-Delivery-Robot
          plugin_repositories_order: featured, updated
          plugin_repositories_limit: 4
          plugin_repositories_skipped: |
            MO-NASSER9/MO-NASSER9
            MO-NASSER9/MO-NASSER9.github.io
